/* CSS for ProductForm component */
.ProductForm-wrapper {
  /* display: flex; */
  /* justify-content: center;
    align-items: center;
    height: 100vh; */
  padding: 20px;

}

.add-product-form {
  display: flex;
  justify-content: space-between;
 justify-content: center;
  gap:20px;
  margin: 0 200px;
   border: 1px solid var(--brown-bonnet);
   padding: 20px;
}

.ProductForm-wrapper h1 {
  text-align: center;
}

.left-image-div {
  flex: 1;
  /* border: 2px solid var(--brown-bonnet); */
  height: 300px;
}

.right-data-fill-div {
  display: flex;
  flex-direction: column;
  flex: 1.5;

}

.right-data-fill-div label {}

.right-data-fill-div input[type="text"],
.right-data-fill-div select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.right-data-fill-div select {
  /* cursor: pointer; */
}

.error-message p {
  color: red;
}

.image-preview-div {
  height: 100%;
  padding: 5px;
  background: linear-gradient(to right, #ff9966, var(--bluish-color));
}

.image-preview-div img {
  height: 100%;
  width: 100%;
}
