.product-details {
    /* border: 1px solid var(--brown-bonnet); */
    margin: 20px 200px;
    padding: 20px;
}

.product-details h2 {
    margin-bottom: 10px;
}

.detail-body-div {
    display: flex;
}

.left-image-div {
    flex: 1;
    margin-right: 20px;

}

.left-image-div img {
    width: 100%;
    padding: 10px;

}

.right-info-div {
    flex: 2;
}

.right-info-div p {
    margin-bottom: 10px;
}
