.product-details {
    margin: 0px 40px;
    padding: 20px;
    font-size: 0.75rem;
}

.product-details h2 {
    margin-bottom: 10px;
}

.detail-body-div {
    display: flex;
}

.left-div {
    margin-right: 20px;
    flex: 1;
}

#product-price{
    font-size: 1.1rem;
}

#product-discription{
    font-size: 1.01rem;
}
.left-image-div {
    box-shadow: 0 0 10px rgba(22, 18, 18, 0.2);
    padding: 5px;
}

.seller-info{
    box-shadow: 0 0 10px rgba(22, 18, 18, 0.2);
    padding: 5px;
}

.left-image-div img {
    /* height: 100%; */
}


.right-info-div {
    flex: 2
}

.right-info-div p {
    margin-bottom: 10px;
}
