
.category-div {
    /* background-color: var(--brown-bonnet);; */
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-div h3{
    text-decoration: underline;
    margin: 0;
}
.category-div ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.category-div ul li {
    margin-bottom: 5px;
    font-size: larger;
}

.category-div ul li a {
    text-decoration: none;
    color: var(--dark-slate);
    transition: color 0.3s ease;
}

.category-div ul li a:hover {
    color: var(--silver-fox);
}
