.delete-modal {
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  .delete-modal h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .delete-modal p {
    margin-bottom: 20px;
  }
  
  .btn {

    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn:hover{

  }
  
  .yes-delete:hover {
    background-color: red;
  }
  
  .yes-delete {
    margin-right: 20px;
  }
  
  .no-delete:hover{
  background-color: green;
  }
